.calculator {
  /* Existing styles */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

  
  
  #result {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }

  .dark-mode #result {
    background-color: #333;
    color: #fff;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 10px;
    border-radius: 10px;
  }
  
  
  .button {
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    color: #333;
  }

  .dark-mode .button {
    background-color: #333;
    color: #fff;
  }

  .button:hover {
    filter: brightness(70%);
  }
  
  .dark-mode {
    background-color: #333;
    color: #ccc;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #333;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  